html {
  /* maybe for using rem ...*/
  /*font-size: 10;*/
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23663399' fill-opacity='0.11' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");}

/* Buttons & Control Panel */
#buttons {
  background-color: #777777;
  border: #d6d5d5 solid 2px;
  padding: 3px;
  padding-bottom: 9px;
  width: 200px;
  height: auto;
  position: fixed;
  top: 100px;
  left: 20px;
  z-index: 2;
}
#soln-generator {
  text-align: center;
}
#generate {
  margin: auto auto 5px auto;
}
fieldset ul {
  margin: 2px auto 0px auto;
}
#buttons abbr {
  text-decoration: none;
  border-bottom: 2px dotted black;
}
footer {
  margin-top: 40px;
  text-align: right;
}




/* Circle Layout Styling */
/* General (circle shapes) */ 
.circle-puzzle {
  height: 800px;
  width: 800px;
  background-color: #999999;
  border: 1px black solid;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -400px;
}
.layer-one {
  height: 700px;
  width: 700px;
  margin: 0 auto;
  background-color: #666666;
  border: 1px black solid;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -350px;
}
.layer-two {
  height: 500px;
  width: 500px;
  background-color: #444444;
  border: 1px black dashed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;

}
.layer-three {
  height: 300px;
  width: 300px;
  background-color: #222;
  border: 1px black dashed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

/*
section.circle-puzzle div {
  display: block;
  transform: rotate(-0.20turn);
  position: absolute;
  top: 43%;
  left: 2%;
  text-align: center;
  background-color: blueviolet;
}
*/
/* Div Rotation Styling*/
/* Div Rotation Layer-Zero*/
.layer-zero .r0 {
  transform: rotate(-0.19turn);
  position: absolute; 
  top: 29%;
  left: 4%;
}
.layer-zero .r1 {
  transform: rotate(-0.09turn);
  position: absolute; 
  top: 8%;
  left: 22%;
}
.layer-zero .r2 {
  position: absolute; 
  top: 0%;
  left: 47%;
}
.layer-zero .r3 {
  transform: rotate(0.095turn);
  position: absolute; 
  top: 8.5%;
  right: 21%;
}
.layer-zero .r4 {
  transform: rotate(0.19turn);
  position: absolute; 
  top: 29%;
  right: 4%;
}
.layer-zero .r5 {
  transform: rotate(-0.69turn);
  position: absolute; 
  bottom: 29%;
  right: 4%;
}
.layer-zero .r6 {
  transform: rotate(-0.596turn);
  position: absolute; 
  bottom: 9%;
  right: 20%;
}
.layer-zero .r7 {
  transform: rotate(.5turn);
  position: absolute; 
  bottom: 0%;
  left: 48%;
}
.layer-zero .r8 {
  transform: rotate(.596turn);
  position: absolute; 
  bottom: 9%;
  left: 20%;
}
.layer-zero .r9 {
  transform: rotate(.69turn);
  position: absolute; 
  bottom: 29%;
  left: 4%;
}


.layer-one .r0 {
  transform: rotate(-0.19turn);
  position: absolute; 
  top: 30%;
  left: -3%;
}
.layer-one .r1 {
  transform: rotate(-0.10turn);
  position: absolute; 
  top: 9%;
  left: 13%;
}
.layer-one .r2 {
  position: absolute; 
  top: 1%;
  left: 37.5%;
}
.layer-one .r3 {
  transform: rotate(0.1turn);
  position: absolute; 
  top: 9%;
  right: 13%;
}
.layer-one .r4 {
  transform: rotate(0.19turn);
  position: absolute; 
  top: 30%;
  right: -3%;
}
.layer-one .r5 {
  transform: rotate(-0.69turn);
  position: absolute; 
  bottom: 30%;
  right: -3%;
}
.layer-one .r6 {
  transform: rotate(-0.596turn);
  position: absolute; 
  bottom: 9%;
  right: 13%;
}
.layer-one .r7 {
  transform: rotate(.5turn);
  position: absolute; 
  bottom: 1%;
  left: 37.5%;
}
.layer-one .r8 {
  transform: rotate(.596turn);
  position: absolute; 
  bottom: 9%;
  left: 13%;
}
.layer-one .r9 {
  transform: rotate(.69turn);
  position: absolute; 
  bottom: 30%;
  left: -3%;
}

/* Div Rotation layer-two*/
.layer-two .r0 {
  transform: rotate(-.25turn);
  position: absolute; 
  top: 43%;
  left: 3%;
}
.layer-two .r1 {
  transform: rotate(-.14turn);
  position: absolute; 
  top: 17%;
  left: 13%;
}
.layer-two .r2 {
  transform: rotate(-.04turn);
  position: absolute; 
  top: 4%;
  left: 33%;
}
.layer-two .r3 {
  transform: rotate(.04turn);
  position: absolute; 
  top: 4%;
  right: 33%;
}
.layer-two .r4 {
  transform: rotate(.14turn);
  position: absolute; 
  top: 17%;
  right: 13%;
}
.layer-two .r5 {
  transform: rotate(.25turn);
  position: absolute; 
  top: 43%;
  right: 3%;
}
.layer-two .r6 {
  transform: rotate(-.64turn);
  position: absolute; 
  bottom: 17%;
  right: 13%;
}
.layer-two .r7 {
  transform: rotate(.46turn);
  position: absolute; 
  bottom: 4%;
  right: 33%;
}
.layer-two .r8 {
  transform: rotate(-.46turn);
  position: absolute; 
  bottom: 4%;
  left: 33%;
}
.layer-two .r9 {
  transform: rotate(.64turn);
  position: absolute; 
  bottom: 17%;
  left: 13%;
}
/* Div Rotation layer-three*/
.layer-three .r0 {
  transform: rotate(-0.09turn);
  position: absolute; 
  top: 10%;
  left: 12%;
}
.layer-three .r1 {
  transform: rotate(0.09turn);
  position: absolute; 
  top: 10%;
  right: 12%;
}
.layer-three .r2 {
  transform: rotate(-0.69turn);
  position: absolute; 
  bottom: 29%;
  right: -3%;
}
.layer-three .r3 {
  transform: rotate(.5turn);
  position: absolute; 
  bottom: 3%;
  left: 33%;
}
.layer-three .r4 {
  transform: rotate(.69turn);
  position: absolute; 
  bottom: 29%;
  left: -3%;
}

/* Layer-Specific Visual Styling */
.layer-zero div {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 0 0px;
  background-color: #bdbaba;
  width: 40px;
}
.layer-zero span {
  display: block;
  border: 1px solid #222222;
  padding: .65em .75em;
}

/* Layer One Elements, Visual */
.layer-one>div {
  border: 2px solid black;
  border-collapse: collapse;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  margin: 0 0px;
  background-color: #bdbaba;
  /*width: 65px; */
  width: 170px;
  display: block;
}
.layer-one span{
  display: inline-block;
  border: 1px solid #222222;
  padding: .5em 2.15em;

}
.layer-one span {
  border-radius: 50%;
}
.layer-one span:nth-of-type(1) {
  border-radius: 0%;
  margin-left: 25%;
}

/* Layer Two Elements */
.layer-two>div {
  border: 2px solid black;
  border-collapse: collapse;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  margin: 0 0px;
  background-color: #bdbaba;
  width: 65px;
  /*width: 70px;*/
  display: block;
}
.layer-two span{
  display: inline-block;
  border: 1px solid #222222;
  padding: .5em;
  /*padding: .6em;*/
  border-radius: 50%;
}
.layer-two span:nth-of-type(3) {
  margin-left: 25%;
}

/* Layer Three Visuals*/
.layer-three>div {
  border: 2px solid black;
  border-collapse: collapse;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  margin: 0 0px;
  background-color: #bdbaba;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.layer-three span {
  display: inline-block;
  border: 1px solid #222222;
  padding: .5em;
  border-radius: 50%;
}
.layer-three span:nth-of-type(1) {
  margin-right: 20px;
  /*margin: 0 10px;*/
}

/*********************************************/
/* Straight Rows CSS */
/* General Styling for all rows */
.rows-puzzle {
  width: 100%;
  background-color: #999999;
}

.row-2, .row-1, .row-0 {
  background-color: #999999;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.row-3 {
  background-color: #999999;
}

.row-3 div, .row-2 div, .row-1 div, .row-0 div {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 0 0px;
  background-color: #bdbaba;
}


section.rows-puzzle span{
  display: inline-block;
  border: 1px solid #222222;
  padding: 1em .75em;
}

.G {
  background-color: forestgreen;
  background-image: url(assets/noise.png);
}
.P {
  background-image: url(assets/noise.png);
  background-color: rebeccapurple;
}
.O {
  background-color: orange;
  background-image: url(assets/noise.png);
}

/* Row-Specific Styling */
.row-0 {
  margin-left: 5%;
}

.row-1 span:nth-of-type(1) {
  margin-left: 25%;
}
.row-1 {
  margin-left: 5%;
}

.row-2 span:nth-of-type(3) {
  margin-left: 25%;
}
.row-2 {
  margin-right: 5%;
}


.row-3 {
  margin-left: 10%;
}
.row-3>div {
  margin-right: 60px;
  margin-left: 30px;
  display: inline-block;
}
.row-3 div:nth-of-type(1) {
  margin-left: 50px;
}
.row-3 div:last-of-type {
  margin-right: 0px;
}
.row-3 span:nth-of-type(1) {
  margin-right: 60px;
  /*margin: 0 10px;*/
}